{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position: fixed">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <h6 style="text-align: left; margin-top: 20px;">
                      <span>Basic Operation</span>
                    </h6>
                    <li class="nav-item">
                        <span data-feather="home"></span>
                        <form action="/select_rows/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm" style="margin-bottom: 5px;" name="submit"/>Row Select</button>
                            <input type="text" class="form-control" style="margin-bottom: 5px; width: 80%;" placeholder="Enter the starting row" name="row_ceiling" required>
                            <input type="text" class="form-control" style="width: 80%;" placeholder="Enter the ending row" name="row_floor" required>
                        </form>
                    </li>
                    </br>
                    <li class="nav-item">
                        <form action="/select_columns/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm" style="margin-bottom: 5px" name="submit"/>Column Select</button>
                            <input type="text" class="form-control" style="margin-bottom: 5px; width: 85%;" placeholder="Enter the starting column" name="column_left" required>
                            <input type="text" class="form-control" style="width: 85%;" placeholder="Enter the ending column" name="column_right" required>
                        </form>
                    </li>
                    </br>
                    </br>
                    <h6 style="text-align: left">
                      <span>Data Cleaning Method</span>
                    </h6>
                    <li class="nav-item">
                        <form action="/de_duplication/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm" style="margin-bottom: 5px" name="submit"/>De-duplication</button>
                        </form>
                    </li>
                    </br>
                    <li class="nav-item">
                        <form action="/detect_outlier_three_sigma/" method="post">
                            {% csrf_token %}
                            <input type="submit" value="detect outlier three sigma" name="submit"/>
                                <select name="detect_outlier_three_sigma">
                                    {% for data_piece in data.data_header %}
                                        <option value = "{{ data_piece }}"> {{ data_piece }} </option>
                                    {% endfor %}
                                </select>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="/deal_with_outlier/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" name="submit"/>Delete Outliers</button>
                        </form>
                    </li>
                    </br>
                    <li class="nav-item">
                        <form action="/check_missing/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm" style="margin-bottom: 5px" name="submit"/>Check Missing Value</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="/deal_with_missing_value/" method="get">
                            {% csrf_token %}
                            <input type="submit" value="deal with missing value" name="submit"/>
                            <select name="deal_with_missing_value">
                                <option value="1">delete rows</option>
                                <option value="2">delete columns</option>
                                <option value="3">fill with missing value</option>
                                <option value="4">pad</option>
                                <option value="5">fillna</option>
                                <option value="6">mean</option>
                            </select>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="/generate_a_file/" method="post">
                            {% csrf_token %}
                            <input type="submit" value="generate a file" name="submit"/>
                        </form>
                    </li>

                    <li class="nav-item">
                        <form action="/limit_float_point_num/" method="post">
                            {% csrf_token %}
                            <input type="text" name="float_point_num"/>
                            <input type="submit" value="float_point_number" name="submit"/>
                        </form>
                    </li>

                    <li class="nav-item">
                        <form action="/revert/" method="post">
                            {% csrf_token %}
                            <input type="submit" value="revert" name="submit"/>
                        </form>
                    </li>
                    <li class="nav-item">
                    <a href="{% url 'index' %}" style="text-decoration: none; color: black">Go back to index</a></span>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <table border="1" style="margin-top: 20px">
                {% for line in data.data_frame %}
                    <tr>
                        {% for line_piece in line %}
                            <td>{{ line_piece }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </main>

    </div>
</div>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>