{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Data Cleaning Tool</title>
</head>
<style type="text/css">
    #box {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        line-height: 30px;
    }

    #box::-webkit-scrollbar {
        display: none;
    }
</style>
<body style="font-family: Times">

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position: fixed" id="box">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <h6 style="text-align: left; margin-top: 20px;">
                        <span>Basic Operation</span>
                    </h6>
                    <li class="nav-item">
                        <span data-feather="home"></span>
                        <form action="/select_rows/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm" style="margin-bottom: 5px;"
                                    name="submit"/>
                            Row Select</button>
                            <input type="text" class="form-control form-control-sm"
                                   style="margin-bottom: 5px; width: 80%;" placeholder="Starting row"
                                   name="row_ceiling" oninput="value=value.replace(/[^\d]/g,'')" required>
                            <input type="text" class="form-control form-control-sm" style="width: 80%;"
                                   placeholder="Ending row" name="row_floor"
                                   oninput="value=value.replace(/[^\d]/g,'')" required>
                        </form>
                    </li>
                    </br>
                    <li class="nav-item">
                        <form action="/select_columns/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm" style="margin-bottom: 5px" name="submit"/>
                            Column Select</button>
                            <input type="text" class="form-control form-control-sm"
                                   style="margin-bottom: 5px; width: 85%;" placeholder="Starting column"
                                   name="column_left" oninput="value=value.replace(/[^\d]/g,'')" required>
                            <input type="text" class="form-control form-control-sm" style="width: 85%;"
                                   placeholder="Ending column" name="column_right"
                                   oninput="value=value.replace(/[^\d]/g,'')" required>
                        </form>
                    </li>
                    </br>

                    <li class="nav-item">
                        <form action="/limit_float_point_num/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm" style="margin-bottom: 5px" name="submit"/>
                            Change float precision</button>
                            <input type="text" name="float_point_num" class="form-control form-control-sm"
                                   style="width: 85%;" placeholder="Floating Precision"
                                   oninput="value=value.replace(/[^\d]/g,'')" required>
                        </form>
                    </li>
                    </br>

                    <h6 style="text-align: left">
                        <span>Data Cleaning Method</span>
                    </h6>

                    <li class="nav-item">
                        <form action="/select_by_conditions/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm" style="margin-bottom: 5px" name="submit"/>
                            Select rows by a condition</button>
                            <select class="form-control form-control-sm" name="select_by_condition_input_column">
                                {% for data_piece in data.data_header %}
                                    <option value="{{ data_piece }}"> {{ data_piece }} </option>
                                {% endfor %}
                            </select>
                            <select class="form-control form-control-sm" name="select_by_condition_input_operator">
                                <option value="=="> == (equal to)</option>
                                <option value="!="> != (not equal to)</option>
                                <option value=">"> > (larger than)</option>
                                <option value="<"> < (less than)</option>
                            </select>
                            <input type="text" class="form-control form-control-sm" style="width: 85%;"
                                   placeholder="Please enter a number" name="select_by_condition_input_number"
                                   oninput="value=value.replace(/[^\d]/g,'')" required>
                        </form>
                    </li>
                    </br>

                    <li class="nav-item">
                        <form action="/de_duplication/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm" style="margin-bottom: 5px" name="submit"/>
                            De-duplication</button><br/>
                            <input type="checkbox" name="de_duplication_ignoreCase" value=True/> Ignore Case
                        </form>
                    </li>
                    </br>
                    <li class="nav-item">
                        <form action="/detect_outlier_three_sigma/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm" style="margin-bottom: 5px" name="submit"/>
                            Detect Outliers</button>
                            <select class="form-control form-control-sm" name="detect_outlier_three_sigma">
                                {% for data_piece in data.data_header %}
                                    <option value="{{ data_piece }}"> {{ data_piece }} </option>
                                {% endfor %}
                                <option value="all_attributes"> All Attributes</option>
                            </select>
                            <input type="checkbox" name="detect_outlier_delete_rows_automatically" value=True/> Delete
                            Outlier's Row
                        </form>
                    </li>
                    </br>

                    <li class="nav-item">
                        <form action="/text_similarity/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm" style="margin-bottom: 5px" name="submit"/>
                            Most Similar Text</button>
                            <select class="form-control form-control-sm" name="text_similarity">
                                {% for data_piece in data.data_header %}
                                    <option value="{{ data_piece }}"> {{ data_piece }} </option>
                                {% endfor %}
                            </select>
                            <input type="text" class="form-control form-control-sm"
                                   style="margin-bottom: 5px; width: 80%;" placeholder="Enter a text"
                                   name="input_text">
                        </form>
                    </li>
                    <p> most similar text: line {{ data.text_similarity }}</p>
                    <li class="nav-item">
                        <form action="/check_missing/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm" style="margin-bottom: 5px" name="submit"/>
                            Check Missing Value</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="/deal_with_missing_value/" method="get">
                            {% csrf_token %}
                            <input style="display: none;" name="modification_row">
                            <button type="submit" class="btn btn-danger btn-sm" style="margin-bottom: 5px"
                                    name="submit"/>
                            Deal with missing value</button>
                            <select class="form-control form-control-sm" name="deal_with_missing_value">
                                <option value="1">Delete rows</option>
                                <option value="2">Delete columns</option>
                                <option value="3">Fill with 'missing'</option>
                                <option value="4">Fill with the front value</option>
                                <option value="5">Fill with the rear value</option>
                                <option value="6">Fill with the mean value</option>
                            </select>
                        </form>
                    </li>
                    </br>

                    <li class="nav-item">
                        <form action="/revert/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning btn-sm" style="margin-bottom: 5px"
                                    name="submit"/>
                            Revert</button>
                        </form>
                    </li>

                    <li class="nav-item">
                        <form action="/reset/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning btn-sm" style="margin-bottom: 5px"
                                    name="submit"/>
                            Reset</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="/generate_a_file/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm" style="margin-bottom: 5px"
                                    name="submit"/>
                            Generate File</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary btn-sm" style="margin-bottom: 20px"><a href="{% url 'index' %}"
                                                                                              style="text-decoration: none; color: white">Go
                            back to index</a></button>
                    </li>

                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {# 如果用户使用了了检测功能，就显示问题列表 #}
            {# 检测outlier的工具栏 #}
            {% if data.detect_outlier_single_format or data.detect_outlier_all_attributes %}
                <div style="width: 100%; margin-top: 20px;">
                    {% if data.data_outlier %}
                        <h5>Outlier list: (Click to jump!)</h5>
                        {% for question_index in data.data_outlier %}
                            <a href="#{{ question_index|add:-1 }}">Line: {{ question_index }}</a><br>
                        {% endfor %}
                    {% else %}
                        {% if not data.wrong_in_python %}
                            <h5 style="margin-top: 5px">No Outlier!</h5>
                        {% endif %}
                    {% endif %}
                </div>
                {# 检测缺失值的工具栏 #}
            {% elif data.check_missing_value %}
                <div style="width: 100%; margin-top: 20px;">
                    {% if data.missing_value_result %}
                        <h5>Problem list: (Click to jump!)</h5>
                        {% for question_index in data.missing_value_result %}
                            <a href="#{{ question_index|add:-1 }}">Line: {{ question_index }}</a><br>
                        {% endfor %}
                    {% else %}
                        <h5 style="margin-top: 5px">No Missing Value!</h5>
                    {% endif %}
                </div>
            {% endif %}

            {# 列表展示 #}
            <table style="margin-top: 20px">
                {% for line in data.data_frame %}
                    {# 检测异常值的table显示 #}
                    {% if data.detect_outlier_single_format or data.detect_outlier_all_attributes %}
                        {% if not forloop.counter0 in data.data_outlier %}
                            <tr id={{ forloop.counter0 }}>
                                {% for line_piece in line %}
                                    <td style="border: 1px solid;">{{ line_piece }}</td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr id={{ forloop.counter0 }}>
                                {% if data.detect_outlier_all_attributes %}
                                    {% for line_piece in line %}
                                        <td bgcolor="#faebd7" style="border: 1px solid;" >{{ line_piece }}</td>
                                    {% endfor %}
                                    <td style="border-style: none;">
                                        <form action="/single_outlier_delete/" method="post">
                                            {% csrf_token %}
                                            <input style="display: none;" name="modification_row"
                                                   value={{ forloop.counter0 }}>
                                            <button style="margin-left: 3px;" type="submit"
                                                    class="btn btn-danger btn-sm"
                                                    name="submit"/>
                                            Delete!</button>
                                        </form>
                                    </td>
                                {% else %}
                                    {% for line_piece in line %}
                                        {% if forloop.counter0 == data.detect_outlier_choice %}
                                            <td bgcolor="#faebd7" style="border: 1px solid;">{{ line_piece }}</td>
                                        {% else %}
                                            <td style="border: 1px solid;">{{ line_piece }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td style="border-style: none">
                                        <form action="/outlier_modification/" method="post">
                                            {% csrf_token %}
                                            <input type="text" class="form-control form-control-sm"
                                                   style="float:left; width:60%; margin-left: 5px;"
                                                   name="modification_value" required>
                                            <input style="display: none;" name="modification_row"
                                                   value={{ forloop.counter0 }}>
                                            <button style="margin-left: 5px;" type="submit" class="btn btn-primary btn-sm"
                                                    name="submit"/>
                                            Modify</button>
                                        </form>
                                    </td>
                                    <td style="border-style: none;">
                                        <form action="/fill_blank/" method="post">
                                            {% csrf_token %}
                                            <input style="display: none;" name="modification_row"
                                                   value={{ forloop.counter0 }}>
                                            <button type="submit" class="btn btn-dark btn-sm"
                                                    name="submit"/>
                                            Fill</button>
                                        </form>
                                    </td>
                                    <td style="border-style: none;">
                                        <form action="/single_outlier_delete/" method="post">
                                            {% csrf_token %}
                                            <input style="display: none;" name="modification_row"
                                                   value={{ forloop.counter0 }}>
                                            <button type="submit" class="btn btn-danger btn-sm"
                                                    name="submit"/>
                                            Delete!</button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}

                        {# 检测缺失值的table显示 #}
                    {% elif data.check_missing_value %}
                        {% if not forloop.counter0|add:-1 in data.missing_value_result %}
                            <tr id={{ forloop.counter0|add:-1 }}>
                                {% for line_piece in line %}
                                    <td style="border: 1px solid;">{{ line_piece }}</td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr id={{ forloop.counter0|add:-1 }}>
                                {% for line_piece in line %}
                                    <td bgcolor="#faebd7" style="border: 1px solid;">{{ line_piece }}</td>
                                {% endfor %}
                                <td style="border-style: none;">
                                    <form action="/single_missing_value_delete/" method="post">
                                        {% csrf_token %}
                                        <input style="display: none;" name="modification_row"
                                               value={{ forloop.counter0 }}>
                                        <button style="margin-left: 3px;" type="submit"
                                                class="btn btn-danger btn-sm"
                                                name="submit"/>
                                        Delete!</button>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}

                        {# 正常显示原始table #}
                    {% else %}
                        <tr id={{ forloop.counter0|add:-1 }}>
                            {% for line_piece in line %}
                                <td style="border: 1px solid;">{{ line_piece }}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}

                {% endfor %}
            </table>
        </main>

    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>