{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Data Cleaning Tool</span>
    </nav>

    <form action="/select_rows/" method="post">
        {% csrf_token %}
        <input type="text" name="row_ceiling" />
        <input type="text" name="row_floor" />
        <input type="submit" value="select row" name = "submit" />
    </form>

    <form action="/select_columns/" method="post">
        {% csrf_token %}
        <input type="text" name="column_left" />
        <input type="text" name="column_right" />
        <input type="submit" value="select column" name = "submit" />
    </form>

    <form action="/de_duplication/" method="post">
        {% csrf_token %}
        <input type="submit" value="de duplication" name = "submit" />
    </form>

    <form action="/detect_outlier_three_sigma/" method="post">
        {% csrf_token %}
        <input type="text" name="column_input" />
        <input type="submit" value="detect outlier three sigma" name = "submit" />
    </form>

    <form action="/check_missing/" method="post">
        {% csrf_token %}
        <input type="submit" value="check_missing" name = "submit" />
    </form>

    <form action="/deal_with_missing_value/" method="get">
        {% csrf_token %}
            <select name="deal_with_missing_value">
                <option value="1">delete rows</option>
                <option value="2">delete columns</option>
                <option value="3">fill with missing value</option>
                <option value="4">pad</option>
                <option value="5">fillna</option>
                <option value="6">mean</option>
            </select>
        <input type="submit" value="deal with missing value" name = "submit" />
    </form>

    <form action="/generate_a_file/" method="post">
        {% csrf_token %}
        <input type="submit" value="generate a file" name = "submit" />
    </form>


    <form action="/revert/" method="post">
        {% csrf_token %}
        <input type="submit" value="revert" name = "submit" />
    </form>

    <table border = "1">
        {% for line in data %}
             <tr>
            {% for line_piece in line %}
                    <td>{{ line_piece }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>