{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Data Cleaning Tool</span>
    </nav>

    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome!</h1>
          <p>This is a template for a simple data cleaning tool website. It includes amounts of data cleaning methods for you to modify your data set.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>基础Excel</h2>
            <p>这里会实现基础的表格功能，包括但不限于：合并，删除等操作</p>
            <p><a class="btn btn-secondary" href="{% url 'uploadFile' %}" role="button">进入 &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>数据清洗</h2>
            <p>这里会实现基本的数据清洗功能，包括但不限于：缺失值检测，去噪等功能</p>
            <p><a class="btn btn-secondary" href="#" role="button">进入 &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>更多功能</h2>
            <p>这里会有一些额外的文件处理功能，包括但不限于：OCR识别等功能</p>
            <p><a class="btn btn-secondary" href="#" role="button">进入 &raquo;</a></p>
          </div>
        </div>
        <hr>
      </div> <!-- /container -->

{#    <table border="1">#}
{#        <tbody>#}
{#            {% for line in data %}#}
{#                <tr>#}
{#                    <td>{{ line }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </tbody>#}
{#    </table>#}


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>