{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body style="text-align: center">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"><a href="{% url 'index' %}" style="text-decoration: none; color: black">Data Cleaning Tool</a></span>
    </nav>

    <div class="card text-center" style="width: 60%; margin: 0 auto; margin-top: 20px">
      <div class="card-header">
        Data Cleaning Tool
      </div>
      <div class="card-body">
        <h5 class="card-title">Upload File</h5>

          <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="document" id="reportXML" style="margin: 15px;">
                <button class="btn btn-primary" id="submitButton" type="submit" >Upload</button>
          </form>

          <button class="btn btn-primary" id="checkButton" onclick="submitXML()" >check</button>

          {% if url %}
              <p class="card-text" style="margin-top: 15px; margin-bottom: 15px">Current File: <a href="{{ url }}">{{ name }}</a></p>
          {% endif %}

      </div>
      <div class="card-footer text-muted">
        Thank you for using our product!
      </div>
    </div>



</body>

<script>
    document.getElementById("submitButton").style.visibility="hidden";

function submitXML(){
	var fileInput = $('#reportXML').get(0).files[0];
	if(fileInput){
        document.getElementById("submitButton").style.visibility="visible";
        document.getElementById("checkButton").style.display="none";
	}else{
		alert("请选择上传文件！");
	}
}
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>